* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.hamburger {
    background-color: #964B00;
}

button {
    border-radius: 20px;
    height: 50px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border: 2px solid white;
}

button:hover {
    background-color: #D3D3D3;
}

.landing-container {
  /* display: flex; */
  /* justify-content: space-evenly; */
  max-width: 2000px;
  overflow-x: hidden;
  background-color: #eae1d5;
}

/* .landing-img-container {
  display: flex;
  justify-content: space-evenly;
}

.landing-img {
  width: 50%;
} */

.landing-img-container {
  display: flex;  
  justify-content: flex-start;
  align-items: flex-end;  
  width: 100%;  /* Prevent overflow */
  height: auto;
  padding-left: 30px;
  /* padding: 0 1%; */
}

.landing-img-1 {
  margin-left: 1em;
  width: 14%; 
  height: auto; 
  object-fit: contain; 
  margin-right: -1em;
}

.landing-img-2 {
  width: 16%; 
  height: auto; 
  object-fit: contain; 
  margin-right: -1em;
}

.landing-img-3 {
  width: 18%; 
  height: auto; 
  object-fit: contain; 
  margin-right: -1em;
}

.landing-img-4 {
  width: 26%; 
  height: auto; 
  object-fit: contain; 
  margin-right: -6.5em;
  padding-top: 20px;
}

.landing-img-5 {
  width: 24%; 
  height: auto; 
  object-fit: contain; 
  margin-right: -6.5em;
}

.landing-img-6 {
  width: 20%; 
  height: auto; 
  object-fit: contain; 
  margin-right: -2.5em;
}


.landing-img {
  width: auto; 
  height: 220px;  
  object-fit: contain; 
}

.landing-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 70px;
  padding-top: 10px;
}

li {
  color: black;
}

@media (max-width: 768px) {

  .landing-img-1 {
    margin-left: 1em;
    width: 14%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -1em;
  }
  
  .landing-img-2 {
    width: 16%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -1em;
  }
  
  .landing-img-3 {
    width: 18%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -1em;
  }

  .landing-img-4 {
    width: 28%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -2.5em;
    /* padding-top: 20px; */
  }
  
  .landing-img-5 {
    width: 26%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -2.5em;
  }
  
  .landing-img-6 {
    width: 24%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -2.5em;
  }
}

@media (max-width: 1024px) {

  .landing-img-1 {
    margin-left: 1em;
    width: 14%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -1em;
  }
  
  .landing-img-2 {
    width: 16%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -1em;
  }
  
  .landing-img-3 {
    width: 18%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -1em;
  }

  .landing-img-4 {
    width: 24%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -2.5em;
    /* padding-top: 20px; */
  }
  
  .landing-img-5 {
    width: 22%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -2.5em;
  }
  
  .landing-img-6 {
    width: 20%; 
    height: auto; 
    object-fit: contain; 
    margin-right: -2.5em;
  }
}

@media (max-width: 768px) {
    h1 {
        font-size: 0.8rem;
    }
    button {
        font-size: 0.7rem;
        width: 75px;
    }
}

/* @media (min-width: 3840px) {
    h1 {
        font-size: 1rem;
    }
    button {
        font-size: 0.7rem;
        width: 75px;
    }
} */

.nav-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-around;
    padding-bottom: 20px;
}

.nav-logo {
    font-size: 1.25rem;
    color:#964B00;
    font-weight: 900;
}

.nav-tag {
    text-decoration: none;
    color: black;
}

.nav-tag:hover {
    color: brown;
}

.nav-tag:active {
    color: brown;
}

/* Responsive Attempt */

.nav-container .hamburger {
    display: none;
    cursor: pointer;
  }

/* Show hamburger menu and hide navbar links in mobile view */
@media (max-width: 768px) {
    .nav-container {
      flex-direction: column;
    }
  
    /* Change this to hide nav-tag in non-responsive mode */
    .nav-container:not(.responsive) .nav-tag {
      display: none;
    }

    .nav-container .hamburger {
      display: block;
    }
  }

.nav-container.responsive .nav-tag {
    display: block;
    text-align: center;
}



/* .nav-container.responsive {
    position: relative;
}

.nav-container.responsive a {
    display: block;
    text-align: center;
} */


/* experiment */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }